/* colors */

#header {
    color: #87B6A7;
}

h3 {
    color: #1098F7;
}

p {
    color: #87B6A7;
}

a {
    color: #FE6D73;
}

body {
    background-color: #344E41;
}

img {
    border: 3px solid black;
}

/* fonts */

* {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
